<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>U商城</title>
	</head>

	<body>
		<div class="pages">
			<div data-page="integral" class="page no-tabbar" data-controller="IntegralViewController">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="left">
							<a href="#" class="back link"><i class="icon icon-back-gray"></i></a>
						</div>
						<div class="center">积分</div>
						<div class="right"></div>
					</div>
                    <div class="subnavbar header no-border">
                        <!-- <div class="storage-help">
           使用帮助
        </div> -->
                        <div class="storage-sum row">
                            <dl class="col-50 ">
                                <dt>可用积分</dt>
                                <dd id="availableCoupon"></dd>
                            </dl>
                            <dl class="col-50 btnFavorite">
                                <dt class="gary">冻结积分</dt>
                                <dd class="gary">0</dd>
                            </dl>
                            <!--<dl class="col-33 hide">
                <dt class="orange">即将过期</dt>
                <dd class="orange">35</dd>
            </dl>-->
                        </div>
                        <div class="storage-opt row account-secend">
                            <div class="col-50 recharge account-infor-secend">
                                <i class="icon icon-income"></i><span>收入</span><span class="split"></span>
                            </div>
                            <div class="col-50 cost account-infor-secend-right btnFavorite">
                                <i class="icon icon-payout"></i><span>支出</span>
                            </div>
                        </div>
                    </div>

				</div>
				<div class="page-content infinite-scroll pull-to-refresh-content" id="accountList">
					<div class="pull-to-refresh-layer">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>

					<div class="user-collection">
						<div class="list-block m-t-10 m-b-0">
							<a class="item-link item-content all-income">
								<div class="item-inner">
									<div class="item-title">收支明细</div>
									<div class="item-after"></div>
								</div>
							</a>
						</div>
					</div>

					<div class="list-block media-list msgDetail">
						<ul id="account-info"></ul>
					</div>
				</div>
				<script type="text/template7" id="integralTpl">
					{{#each this.integralList}}
					<li>
						<div class="icon-only item-content">
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title">
										{{#js_compare "this.status =='O'"}}
										<span>订单号 :</span> {{else}} {{#js_compare "this.status == 'R'"}}
										<span>退货单号 :</span> {{else}}
										<span></span> {{/js_compare}} {{/js_compare}}
										<a data-status="{{cSourceCode}}" class="orderNumber">{{cSourceCode}}</a>
									</div>
								</div>
								<div class="item-title-row">
									<div class="item-title">{{cMemo}}</div>
									<div class='item-after'>{{iChangePoint}}</div>
								</div>
								<time class="item-text">{{dPointChangeTime}}</time>
							</div>
						</div>
					</li>
					{{/each}}
				</script>
			</div>
		</div>
		<script src="templates/system/red/pages/js/myintegral_M.js" type="text/javascript"></script>
	</body>

</html>