<!DOCTYPE html>
<html>
<head>
    <link href="../css/coupon_L.less" rel="Stylesheet" type="text/css" />
    <script src="../js/coupon_L.js" type="text/javascript"></script>
    <!--<resource path="../resource/index_goos_l.json"></resource>-->
</head>
<body>
    <div class="coupon" data-name="<%=name%>" data-config="<%=config%>" data-type="Coupon">
    	<ul class="row Coupon"></ul>
        <script type="text/html" id="couponList">
            <#for(var i=0,len=configData.length;i<len;i++){#>
                <#var value=configData[i];#>
                <#if(value.type==0){#>
                	<li class="col-xs-<#=value.colSpan#> sendCoupon" id="<#=value.couponid#>">
						<div class="stamp stamp01" style="height:<#=height#>px;background-color:<#=value.background#>;">
							<div class="par" style="padding:0 0;">
								<sub class="sign">￥</sub>
								<span><#=value.reduceAmount#></span>
								<span style="font-size:12px">点击领取</span>
								<a style="position:absolute;">优惠券</a>
								<p>订单满<#=value.startAmount#>元可用</p>
							</div>
						</div>           
                	</li>
                <#}else{#>               		
                	<li class="col-xs-<#=value.colSpan#> sendCoupon" id="<#=value.couponid#>">
                		<img class="backcolor" src="<#=value.background#>" style="height:<#=height#>px;width: 100%;">
                	</li>
                <#}#>
            <#}#>
        	<div id = "SendCouponModal" style="display:none">

       		</div>
        </script>
    </div>
</body>
</html>