<!DOCTYPE html>
<html>
<head>
	<script src="../js/magic_box_M.js" type="text/javascript"></script>
</head>
<body>
    <div data-name="<%=name%>" data-config="<%=config%>" data-type="MagicBox" style="position:relative;">
        <div style="position:relative;" class="MagicBox">
            <canvas class="canvas" style="z-index:3; position:absolute; ">你的浏览器不支持canvas</canvas>
            <canvas class="upCanvas" style="z-index:4; position:absolute; ">你的浏览器不支持canvas</canvas>
        </div>
    </div>
</body>
</html>