<!DOCTYPE html>
<html>
<head>
    <script src="../js/main_pictures_M.js" type="text/javascript"></script>
    <!--<script src="@root/js/carousel/carousel.js" type="text/javascript"></script>
    <link href="@root/js/carousel/carousel.css" rel="stylesheet">-->
</head>
<body>
    <div data-name="<%=name%>" data-config="<%=config%>" data-type="MainPhoto">
			<ul class="row MainPhoto owl-carousel" id="slider"></ul>
			<script type="text/template7">
				{{#each photos}}				
				<li class="owl-item col-{{this.configNum}} mainPhotoLi">
					<div data-link="{{this.isExternal}}">
						<a href="{{this.link}}" target="_blank">
							<img src="{{adjustImgSrc this.url}}"/>
						</a>
					</div>
				</li>
				{{/each}}
			</script>
		</div>
</body>
</html>