<!DOCTYPE html>
<html>
<head>
    <link href="../css/member_nav_L.less" rel="Stylesheet" type="text/css" />
    <script src="../js/member_nav_L.js" type="text/javascript"></script>
    <resource path="../resource/member_nav_L.json"></resource>
</head>
<body>
    <div data-name="<%=name%>" data-type="MemberNav">
        <div class="member-siderbar fl main">
                     <%var makeList = function (data) { %>
                          <%for(var i=0,len=data.length;i<len;i++) {%>
                            <%if(data[i].children.length==0) {%>
                                  <li class="col-xs-12">
                                     <span class="nav_Imgplaceholder"></span>
                                    <a href="<%=data[i].url%>"  class='hover'>
                                        <span><%=data[i].title%></span>
                                    </a>
                                </li>
                             <% }else{ %>
                                    <li class="col-xs-12">
                                        <i class="icon"></i>
                                        <a href="javascript:void(0);">
                                            <span><%=data[i].title%></span>
                                        </a>
                                          <ul><% makeList(data[i].children) %></ul>
                                    </li>
                            <%} %>
                      <%} %>
                    <% } %>
                <ul class="nav_list col-xs-12">
                    <% if(data) { %>
                    <%   makeList(data) %>
                    <%}%>
                  </ul>
        </div>
    </div>
  
</body>
</html>