<!DOCTYPE html>
<html>
<head>
    <script src="../js/search_M.js" type="text/javascript"></script>
</head>
<body> 
	<div class="center sliding" style="width: 80%;">
    	<div data-name="<%=name%>" data-config="<%=config%>" data-type="search"  style="width: 100%;">
       
            <a href="./search" class="link icon-only" >
                <div class="input-group-addon"><i class="icon icon-search-input"></i></div><input type="" class="search" placeholder="输入商品名称/关键字" style="width: 85%;" readonly="readonly">
            </a>
        </div>
    </div>
</body>
</html>
