<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="../css/site_info_L.css" rel="Stylesheet" type="text/css" />
    	<script src="../js/site_info_L.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="site-info" align="center" data-name="<%=name%>" data-config="<%=config%>" data-type="SiteInfo">
			<script type="text/html">
				<div align="center">
					<div class="site-info-sitename">
						<#=siteName#>
					</div>
					<div class="site-info-message">
						<#=bottomMessage#>
					</div>
					<div class="site-info-license">
						<#=licenseNum#>
					</div>
				</div>
			</script>
		</div>
		
	</body>
</html>
