<!DOCTYPE html>
<html>
<head>
    <link href="../css/topbar_member_L.css" rel="Stylesheet" type="text/css" />
    <script src="../js/topbar_member_L.js" type="text/javascript"></script>
    <resource path="../resource/topbar_member_L.json"></resource>
</head>
<body>
    <div data-name="<%=name%>" data-type="TopbarMember">
        <!-- <span><%=configs.welcome%></span> -->
        <span>材易购欢迎你</span>
        <div class="inline">
            <a href="/login">请登录</a>
            <span>|</span>
            <a href="/register">免费注册</a>
        </div>
        <div class="inline">
            <span></span>
            <a>退出</a>
        </div>
    </div>
</body>
</html>