.clearfix {
  display: block;
}
.clearfix:after {
  clear: both;
  zoom: 0;
  display: block;
  content: "";
}
.detail-wrap {
  margin: 10px 0;
  padding-bottom: 1px;
  position: relative;
  display: block;
}
.detail-wrap:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #dedddb;
  left: 0;
  top: 0;
}
.detail-wrap:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #dedddb;
  left: 0;
  bottom: 0;
}
.detail-wrap:after {
  clear: both;
  zoom: 0;
  display: block;
  content: "";
}
.detail-wrap li {
  margin: 0 4px;
  position: relative;
}
.detail-wrap li:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #eeeeee;
  left: 0;
  bottom: 0;
}
.detail-wrap .item-inner:after {
  height: 0;
}
.detail-wrap .item-text {
  font-size: 13px;
  color: #666666;
}
.detail-wrap .item-text + .item-after {
  color: #393838;
  font-size: 13px;
}
.detail-wrap .item-subtitle {
  font-size: 13px;
  color: #999999;
}
.detail-wrap .item-subtitle + .item-after {
  color: #999999;
}
.evluationUl {
  background-color: #f0efed !important;
}
.evluationUl li {
  margin: 0;
  margin-top: 10px;
  background-color: #ffffff;
  position: relative;
}
.evluationUl li:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #eee;
  left: 0;
  top: 0;
}
.evluationUl .item-content {
  position: relative;
}
.evluationUl .item-content:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #eee;
  left: 0;
  bottom: 0;
}
.evaluate-star {
  margin-top: 10px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  color: #505050;
  padding: 0px 15px;
}
.evaluate-star span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.evaluate-star ul {
  display: inline-block;
  background: transparent;
  margin-top: 3px;
  padding-left: 0px !important;
}
.evaluate-star ul .stars {
  background: url('../img/star-no.png') no-repeat;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  float: left;
  margin-left: 5px;
}
.evaluate-star ul .stars.hasEvaluate {
  background: url('../img/star.png') no-repeat;
  background-size: 12px 12px;
}
.eva-content {
  padding: 10px 15px;
}
.eva-content textarea {
  width: 100%;
  max-width: 100%;
  height: 80px;
  border: 1px solid #ececec;
  padding: 5px;
}
.anonymous {
  color: #999999;
  margin-left: 5px;
  position: relative;
  top: 2px;
  font-size: 14px;
}
div[data-page="evaluation"] label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox {
  background: #ef524d !important;
}
i.icon.icon-form-checkbox {
  display: inline-block;
}
.submit-evaluation {
  height: 33px;
  line-height: 33px;
  background-color: #ef524d !important;
  border-radius: 3px;
  font-size: 15px;
}
[data-page="evaluation"] .page-content {
  background-color: #f0efed;
}
[data-page="evaluation"] .toolbar {
  background-color: #fff;
}
/*# sourceMappingURL=evaluation_M.css.map */
