.evaluation-list {
  width: 100%;
  background-color: #f0efed !important;
  margin-top: 55px;
}
.evaluation-list li {
  background-color: #fff !important;
  padding-bottom: 5px;
}
.evaluation-list .item-text,
.evaluation-list .item-subtitle {
  color: #505050;
  font-size: 13px;
}
.evaluation-list .item-text {
  height: auto;
  -webkit-line-clamp: inherit;
}
.evaluation-list .item-title {
  font-size: 16px;
}
.evaluation-list .item-after {
  color: #999999;
  font-size: 14px;
}
.evaluation-list .item-subtitle {
  color: #999999;
}
.evaluation-date .item-title {
  font-size: 11px;
  color: #999999;
}
.evaluation-date .item-after a {
  color: #fda307;
  border: 1px solid #EFBF4D;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  padding: 3px 8px;
}
div[data-page="evaluation"] .subnavbar {
  height: 48px;
}
.subnavbar .buttons-row a.active {
  color: #ef534d;
  border-bottom: 1px solid #ef534d;
  margin-top: 1px;
}
.star-box {
  display: inline-block;
  list-style: none;
}
.star-box li.stars {
  float: left;
  background: url('../img/star-no.png') no-repeat;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  margin-left: 5px;
}
.star-box li.stars.hasStar {
  background: url('../img/star.png') no-repeat;
  background-size: 12px 12px;
}
.evaluate-star {
  padding: 2px 0px;
  text-align: left;
  padding-left: 15px;
}
.list-block ul ul.star-box {
  padding-left: 0px;
  position: relative;
  top: 2px;
}
.evaluate-star span {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.row.content {
  padding-left: 15px;
}
.list-block.evaluation-list .evaluation-ul {
  margin-top: 10px;
  text-align: center;
  padding: 15px;
}
.list-block.evaluation-list .evaluation-ul li {
  position: relative;
  padding-bottom: 5px;
}
.list-block.evaluation-list .evaluation-ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  background-color: #EEEEEE ;
}
.list-block.evaluation-list .evaluation-ul li .item-content,
.list-block.evaluation-list .evaluation-ul li .item-inner {
  padding: 0;
  min-height: 25px;
  height: 25px;
}
.list-block.evaluation-list .evaluation-ul li .row.content {
  text-align: left;
  padding: 0;
}
.list-block.evaluation-list .evaluation-ul li .row.content span {
  word-break: break-all;
}
.list-block.evaluation-list .evaluation-ul li .item-title-row {
  font-size: 15px;
}
.list-block.evaluation-list .evaluation-ul li .item-title-row .item-title {
  color: #545454;
  font-size: 14px;
  font-weight: normal;
}
.list-block.evaluation-list .evaluation-ul li .item-title-row .item-after {
  color: #B2B1B1;
  font-size: 12px;
}
.list-block.evaluation-list .evaluation-ul li .item-text {
  color: #A0A0A0;
  font-size: 14px;
}
