.my_information_main {
  overflow: hidden;
  /*font: 14px/150% Arial,Verdana,"\5b8b\4f53";*/
  color: #5B5B5B;
  margin: 0px auto;
  padding-top: 20px;
}
.extra-l li {
  float: left;
  padding-left: 20px;
  list-style: none;
}
.userset-lcol {
  float: left;
  width: 450px;
}
.user-set {
  background-color: #fff;
  margin-top: 20px;
  font-size: 12px;
}
.form .item {
  display: inline-block;
  display: block;
  margin-bottom: 20px;
  line-height: 30px;
  color: #5b5b5b;
}
.form .item > span {
  float: left;
  width: 110px;
  text-align: right;
}
.form em {
  color: #e4393c;
}
em,
i,
u {
  font-style: normal;
}
.fl {
  float: left;
}
.extra-l {
  height: 30px;
}
.form .item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form .itxt,
.form .text {
  height: 28px;
  width: 210px;
  padding: 5px 23px 5px 5px;
  margin-left: 15px;
}
.form .area,
.form .itxt,
.form .sele,
.form .selt {
  line-height: 28px;
  border: 1px solid #e6e6e6;
  padding: 5px;
  float: none;
  color: #2F2F2F;
}
.form .selt1 {
  width: 70px;
}
.form label {
  float: none;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  line-height: 14px;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgba(153, 153, 153, 0);
}
/*右边*/
#user-info {
  overflow: hidden;
  width: 400px;
  float: left;
  height: 360px;
  line-height: 20px;
  padding-top: 20px;
  font-size: 12px;
}
#user-info .u-pic {
  position: relative;
  width: 104px;
  height: 104px;
  overflow: hidden;
  text-align: center;
  margin-right: 6px;
}
.submit_btn {
  background-color: red;
  width: 54px;
  height: 25px;
  text-align: center;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.save_btn {
  background-color: #ff7400;
  width: 54px;
  height: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
  padding-top: 2px;
  margin-left: 140px;
}
.phone_title {
  float: left;
  margin-right: 20px;
  color: #a4a1a1;
}
.font-red {
  color: #f00;
}
.info-m {
  margin-top: 30px;
  display: block;
  clear: both;
}
.info-m .info-item {
  padding-left: 25px;
  background-repeat: no-repeat;
}
.info-m .info-item span {
  margin-right: 20px;
}
.info-m .info-item.phone {
  background-image: url(../images/pc/info-phone.png);
}
.info-m .info-item.email {
  background-image: url(../images/pc/info-email.png);
}
.info-m .modify {
  color: #ff7400;
  cursor: pointer;
}
