.main.myEvaluation {
font-family:微软雅黑;
padding-top:30px;
margin-top:0px;
}
/*.myEvaluation .tabs {
background-color:#f7f7f7;
height:30px;
text-align:center;
padding:0px;
padding-top:6px;
border:1px solid #e1e1e1;
border-right:none;
border-bottom:none;
}*/
.productEvaluation{
  float: left;
  width: 100%;
  border-bottom: 1px #e8e8e8 dotted;
}
.myEvaluation .evaluationlist {
min-height:120px;
padding:0px;
}
.myEvaluation .evaluationlist  .img {
padding:0px;
text-align:center;
vertical-align:middle;
}
.myEvaluation .evaluationlist img {
width:65px;
height:65px;
border:1px solid #e1e1e1;  
margin-top:25px;
}
.myEvaluation .listContent  .col-md-12 {
    padding:0px;
}
.myEvaluation  .listContent {
    margin-top:36px;
    padding:0px;
    position:relative;
    left:-10px;
}
.myEvaluation .listContent .title{
word-wrap: break-word; 
word-break: normal;
max-height:40px;
overflow:hidden;
font-size: 14px;
color: #494848;
}
.myEvaluation .price {
margin-top:4px;
color:#ef524d;
font-size: 18px;
}
.myEvaluation  .evaluation_btn{

margin-top:46px;
background-color:#ef524d;
border:1px solid #ef524d;
width:65px;
height:30px;
color:white;
}
.myEvaluation  .evaluationBack_btn{
  margin-top:46px;
  height: 30px;
  width: 80px;
  padding: 0;
  border:1px solid #e9e8e8;
  background-color: #f6f5f5
}
.myEvaluation  .evaluationBack_btn {
display:none;
}
.myEvaluation .tabsOnbur {
color:#E60012;
background-color:white;
}
.myEvaluation .listBox {
padding:0px;
}
.myEvaluation .evaluationPanel {
/*border:1px solid #D0E4C2;*/
background-color:#fff7f8;
margin-top:10px;
padding:0 55px; 
margin-bottom:1px;
display:none;
}
.myEvaluation .box-t {
margin-right:35px;
float:right;
position:relative;
top:-11px;
    width:0; 
    height:0; 
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid #fff7f8;
}
.myEvaluation .evaluationPanel span em {
padding-right:3px;
padding-top:5px;
color:red;
}
.myEvaluation .evaluationPanel .item div {
padding:0px;
}


/* 以下是星级评分css*/
.myEvaluation .rating{
    max-width:80px;
    min-width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/pc/star.gif) no-repeat 0 0;
}
.myEvaluation .rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
.myEvaluation .rating li {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
.myEvaluation .rating li.one{left:0}
.myEvaluation .rating li.two{left:16px;}
.myEvaluation .rating li.three{left:32px;}
.myEvaluation .rating li.four{left:48px;}
.myEvaluation .rating li.five{left:64px;}
.myEvaluation .rating li:hover{
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../images/pc/star.gif) no-repeat 0 0
}
.textarea01 {
color:#ccc;
}
.textarea{
    width: 100%;
    height: 88px;
    line-height: 18px;
    border: 1px solid #eeeeee;
    padding: 5px;
    float: none;
    resize: none;
}
.aboutTips {
    text-align: right;
    color:#cecbcc;
    margin-top:10px;
}
.evaluationPanel_footer {
margin-bottom:15px;
margin-top:15px;
}
    .evaluationPanel_footer button {
    background-color:#fceced;
    border:1px solid #ecd8d9;
    height:33px;
    color: #ef524d;
    }
input[type=checkbox] {
position:relative;
top:2px;
}
.isanonymous {
    padding-left:25px;
    height: 27px;
    line-height: 27px;
}
    .isanonymous span {
    margin-left:5px;
    }

.evaluationPanel .msg-error{
    border: 1px solid #FFBDBE;
    background: #FFEBEB;
    color: #E4393C;
    line-height: 20px;
    padding: 2px 6px;
    margin-left:7px;
    display:none;
}
.evaluationPanel  .msg-error_text {
    margin-left:0px;
}
.aboutError {
padding:0px;
text-align:left;
margin-top:10px;
}
.tabs_br {
height:1px;
background-color:#e1e1e1;
display:none;
}
.tabsBox {
padding:0px;
height:30px;
}
.allEvaluation {
padding-left:0px;
margin-top:15px;
font-size:14px;
font-weight:600;
display: none;
}
.listEvaluation {
margin-top:25px;
padding:0px;
border-bottom: 1px dotted #e7e7e7;
}
.listEvaluationPanel{

}
.listEvaluation img {
    width: 75px;
    height: 75px;
    border: 2px solid #e1e1e1;
}
.listEvaluationPanel,
.listBox1 .col-md-12 {
padding:0px;
}

.showStar {
background-color:#fff7f8;
padding-left:5px !important;
padding-top:5px !important;
padding-bottom:5px !important;
}
.show_star {
background:url(../images/pc/star.gif) no-repeat 0 0;
height:16px;
width:80px;
display:inline-block;
position:relative;
top:2px;
}
.EvaluationPanelContent {
padding:0px;
padding-left:15px;
margin-top:20px;
}
.EvaluationPanelContent .realContent {
word-break:break-all;
font-size: 14px;
color: #6d6c6c;
line-height: 28px;
}
.listEvaluation_r {
    /*border-bottom:1px solid #F3F3F3;*/
    padding-bottom:20px;
    padding-left: 0;
    padding-right: 0;
}
.EvaluationDate {
margin-top:20px;
color:#d1d1d1;
position:relative;
left:5px;
}
.aboutTime {
float: right;
color: #c3bfbf;
font-size: 14px;
}
  .evaluationPagesBtn, .haveEvaluationPagesBtn{
padding: 15px;
text-align: right;
color: #ccc;
float: right;
}
.evaluationPagesBtn a,.haveEvaluationPagesBtn a{ 
color: #333;
display: inline-block;
height: 25px;
line-height: 25px;	
padding: 0 10px;
border: 1px solid #ededed;	
margin: 0 2px;
border-radius: 4px;
vertical-align: middle;
}
.evaluationPagesBtn span,.haveEvaluationPagesBtn span{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #666;
  background-color: #fafafa;  
  border: 1px solid #ededed;
  border-radius: 0;
  vertical-align: middle;
}
.evaluationPagesBtn span.current,.haveEvaluationPagesBtn span.current{ 
  color: #ef524d;
}
.evaluationPagesBtn span.disabled,.haveEvaluationPagesBtn span.disabled{	
  color: #b3b3b3;
  background: #f2f2f2;
}
.realWaitTo.noInformation,.allEvaluationPanel.noInformation{
text-align: center;
padding: 50px;
}