.sortCard{
    margin:20px 0;
}
.sortCard .active{
    color:red;
    background-color: #fff;
}
.p-0{
    padding:0;
}
.p-t-5{
	padding-top: 5px;
}
.m-t-10{
	margin-top: 10px;
}
.tab-content .redColor{
    color: red;
    background-color: #ccc;
    margin-left: 90px;
    padding: 2px 5px;
    border-radius: 2px;
}
.tab-content .cardimg {
    margin-top: 5px;
}

.main_tabs li{
	min-width: 130px;
}
.main_tabs a{
	display: inline-block;
	min-width: 130px;
	height: 148px;	
}
.cardItem{
	padding: 20px 0;
}
.cardList{
	border: 1px solid #e6e6e6;
	padding: 20px;
	border-radius: 5px;
}
.cardList li{
	font-size: 14px;
}
.imghead{
	margin-bottom: 10px;
}
.usetip{
	line-height: 26px;
}
.rechargeBtn{
	margin-top:70px;
}
.tab-content{
	padding:10px 30px;
}
.btn{
	background: #fff;
	border: 1px solid #e7e7e7;
}
.cardstyle2 .bottom .cardNum,.cardstyle2 .bottom .cardPassword{
	display: inline-block;
}
.cardstyle2 .bottom .cardNum{
	margin-right: 10px;
}
.cardstyle1,.cardstyle2,.cardstyle3{
    width: 350px;
    height: 200px;
	position: relative;
	
}


.cardstyle1 .giftcardname{
	position: absolute;
    top: 41px;
    font-size: 21px;
    color: #F010FD;
    font-weight: bold;
    left: 22px;
}

.cardstyle1 .bottom{
	font-size: 12px;
    bottom: 4px;
    position: absolute;
    left: 20px;
    color: #0662F1;
    text-align: left;
}

.cardstyle2 .giftcardname{
	position: absolute;
    left: 80px;
    top: 53px;
    font-size: 21px;
    color: #078FF3;
    font-weight: bold;
}

.cardstyle2 .bottom{
	font-size: 12px;
    bottom: 14px;
    position: absolute;
    left: 10px;
    color: #000;
}
.cardstyle3 .giftcardname{
	position: absolute;
    top: 41px;
    font-size: 21px;
    color: #F010FD;
    font-weight: bold;
    right: 20px;
}

.cardstyle3 .bottom{
	font-size: 12px;
    bottom: 4px;
    position: absolute;
    right: 20px;
    color: #0662F1;
    text-align: right;
}

//排序按钮
.orderBy .btn {
  border-radius: 0;
  background-color: #fff;
  border-color: #e7e7e7;
  overflow: hidden;
  color: #6a6a6a;
}
.orderBy .btn.active.focus,
.orderBy .btn.active:focus,
.orderBy .btn.focus,
.orderBy .btn:active.focus,
.orderBy .btn:active:focus,
.orderBy .btn:focus {
  outline: none;
}
.orderBy .btn.active {
  background-color: rgba(239, 82, 77, 0.1);
  color: #ef524d;
  border-color: rgba(239, 82, 77, 0.2);
  box-shadow: none;
}
.orderBy .btn.down,
.orderBy .btn.up {
  background-image: url(../images/pc/orderBy-btn-icon.png);
  background-repeat: no-repeat;
  padding-right: 20px;
}
.orderBy .btn.down {
  background-position: 90% top;
}
.orderBy .btn.up {
  background-position: 90% bottom;
}

