.myPath {
    background-color: #f7f7f7;
}

    .myPath .filter-bar {
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
        background-color: white;
    }

        .myPath .filter-bar .filter-bar-wrap {
            width: 95%;
            margin: 0 auto;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            color: #3c3c3c;
        }

            .myPath .filter-bar .filter-bar-wrap .cal-mode {
                float: left;
                padding-right: 16px;
            }

            .myPath .filter-bar .filter-bar-wrap .cal-mode-del {
                float: right;
                width: 110px;
                height: 30px;
                line-height: 30px;
                margin-top: 10px;
                font-size: 16px;
                background: url(../images/pc/icon-new.png) no-repeat left center;
                color: #999;
                text-decoration: none;
                text-align: center;
            }

                .myPath .filter-bar .filter-bar-wrap .cal-mode-del:hover {
                    color: #fff;
                    background: #999;
                }

    .myPath .cal-mode .cal-mode-btn {
        text-decoration: none;
        cursor: pointer;
        padding-right: 20px;
        background: url(../images/pc/icon-new.png) no-repeat right center;
    }

    .myPath .filter-bar .filter-bar-wrap .cat-selector {
        position: relative;
        float: left;
        padding-right: 15px;
        cursor: pointer;
        width: 160px;
    }

    .myPath .filter-bar .cat-selector .current-cat {
        padding-left: 12px;
        padding-right: 30px;
        height: 45px;
        line-height: 40px;
        margin-top: 5px;
        background: #fff;
        text-align: center;
    }

    .myPath .filter-bar .cat-selector .cats {
        position: absolute;
        visibility: hidden;
        border: 1px solid #ccc;
        width: 159px;
        margin-top: -1px;
        padding-bottom: 17px;
        background: #fff;
        z-index: 11;
    }

        .myPath .filter-bar .cat-selector .cats .cat {
            color: #666;
            text-decoration: none;
            height: 30px;
            line-height: 30px;
            padding: 0 28px;
            margin: 0 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .myPath .filter-bar .cat-selector .cats .cat:hover {
                color: #ff4401;
                background: #ffe9e1;
            }

    .myPath .filter-bar .cat-selector .current-cat:hover .cats {
        visibility: visible;
    }

    .myPath .filter-bar .current-cat .cats p {
        overflow: auto;
        height: 300px;
        width: 159px;
    }

    .myPath .goods-page {
        margin: 19px auto 0;
        width: 100%;
        display: inline-block;
        color: #999;
    }

        .myPath .goods-page .goods-area-box {
            position: relative;
            width: 100%;
            margin-left: -16px;
        }

            .myPath .goods-page .goods-area-box .goods {
                float: left;
                _display: inline;
                width: 195px;
                height: 348px;
                margin-left: 16px;
                text-align: left;
                margin-bottom: 25px;
            }

        .myPath .goods-page .goods .goods-date {
            position: relative;
            height: 40px;
            line-height: 40px;
            font-family: arial;
            font-size: 12px;
            color: #666;
        }

            .myPath .goods-page .goods .goods-date s.line {
                position: absolute;
                top: 23px;
                right: 0;
                width: 211px;
                height: 1px;
                line-height: 1px;
                background: #ccc;
            }

    .myPath .goods-area-box .goods-pic {
        width: 100%;
        height: 195px;
        background: #fff;
        position: relative;
        overflow: hidden;
    }

    .myPath .goods-area-box .goods-delete {
        top: 0;
        right: 0;
        z-index: 2;
        display: inline-block;
        height: 44px;
        width: 44px;
        background: url(//img.alicdn.com/tps/i3/TB1gTDRGFXXXXagXXXX301JJFXX-4-4.png) 0 0;
        background: rgba(0,0,0,.6);
        color: #fff;
        position: absolute;
    }

    .myPath .goods-area-box .goods-status {
        left: 0;
        bottom: 0;
        color: #666;
        height: 30px;
        line-height: 30px;
        width: 100%;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
        background: rgba(255,255,255,.8);
        _filter: Alpha(opacity=80);
    }

        .myPath .goods-area-box .goods-status .cat-only {
            cursor: pointer;
            display: inline-block;
            _zoom: 1;
            _display: inline;
            text-align: center;
            color: #fff;
            text-decoration: none;
            background-color: #ea6021;
            opacity: .7;
            filter: alpha(opacity=70);
            width: 97px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .myPath .goods-area-box .goods-status .view_count {
            display: inline-block;
            _zoom: 1;
            _display: inline;
            color: #414141;
            background: #fff;
            opacity: .7;
            filter: alpha(opacity=70);
            width: 98px;
            overflow: hidden;
            text-align: center;
        }

    .myPath .goods-area-box .goods-attr {
        height: 104px;
        padding: 10px 10px 10px 10px;
        line-height: 20px;
        background: #fff;
    }

    .myPath .goods-page .goods .good-title {
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .myPath .goods-page .goods .good-title a {
            color: #666;
            text-decoration: none;
        }

    .myPath .goods-area-box .goods-attr .extra-icon {
        margin-right: 25px;
    }

    .myPath .extra-icon .rank-tmall {
        width: 15px;
        height: 15px;
        background: url(//img.alicdn.com/tps/i1/TB1AsyJGpXXXXb7aXXXawywFXXX-15-15.png) no-repeat;
    }

    .myPath .goods-area-box * {
        -webkit-backface-visibility: hidden;
    }

    .myPath .goods-area-box .goods-attr .address {
        display: inline-block;
    }

    .myPath .goods-area-box .goods-num {
        color: #b0b0b0;
        padding-top: 7px;
    }

        .myPath .goods-area-box .goods-num .match-recom {
            text-align: center;
        }

            .myPath .goods-area-box .goods-num .match-recom a {
                display: inline-block;
                width: 65px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                color: #999;
                font-size: 12px;
                border: 1px solid #D7D7D7;
                text-decoration: none;
            }

    .myPath .goods-page .goods.first-child .goods-date span {
        line-height: 17px;
        top: 4px;
    }

    .myPath .goods-page .goods .first-box .goods-date span {
        right: 36px;
        padding-left: 36px;
        zoom: 1;
    }

    .myPath .goods-page .goods .goods-date span {
        padding-right: 10px;
        background: #f7f7f7;
        position: relative;
        z-index: 2;
        white-space: nowrap;
    }

    .myPath .goods-page .goods.first-child .goods-date .month-lite {
        font-size: 30px;
        font-weight: 700;
    }

    .myPath .goods-page .goods .goods-date .month-lite {
        font-size: 24px;
    }

    .myPath .goods-page .goods.first-child .goods-date .day-lite {
        font-size: 30px;
        font-weight: 700;
    }

    .myPath .goods-page .goods .goods-date .day-lite {
        font-size: 24px;
        font-weight: 700;
        position: relative;
    }

    .myPath .goods-page .goods .goods-date i {
        font-style: normal;
        color: #333;
        vertical-align: 0;
    }

    .myPath .goods-page .goods .goods-date .date-desc {
        font-size: 16px;
        font-weight: 700;
    }

    .myPath .goods-page .goods .goods-date i {
        font-style: normal;
        color: #333;
        vertical-align: 0;
    }

    .myPath .goods-page .goods .goods-date i {
        font-style: normal;
        color: #333;
        vertical-align: 0;
    }
