.orderremark {
  overflow: hidden;
  padding-top: 20px;
}
.orderremark textarea {
  vertical-align: top;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  width: 750px;
}
.space20 {
  margin-top: 20px;
}
.division {
  padding: 30px;
  margin-bottom: 10px;
}
.orangecolor {
  color: #28c4b2;
  margin: 0 2px;
}
.blackcolor {
  color: #5D5550;
  margin: 0 2px;
}
.tipmessage {
  margin: 10px 0 0 85px;
  color: #8C8989;
}
.warningmessage {
  margin: 10px 0 0 170px;
  color: red;
  display: none;
}
.division .btn-info {
  background: #28c4b2;
  border-color: #28c4b2;
  margin-left: 100px;
  outline: none;
}
.division .btn-info:hover {
  background: #1f9a8c;
  border-color: #1f9a8c;
}
