 .return_details {
  margin: 0px auto;
  overflow: hidden;
  padding-top: 20px;
}
.returnProductDetail {
  background-color: #fff7f8;
  height: 135px;
  margin-top: 20px;
}
.returnProductImg {
  margin-top: 20px;
}
.returnStateTitle {
  border-left: 3px solid #ff7400;
  font-size: 14px;
  padding-left: 3px;
  height: 15px;
  line-height: 15px;
}
.returnProductContent {
  text-align: left;
  vertical-align: middle;
}
.returnEvaluationTitle {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 3px;
  border-left: 3px solid #ff7400;
}
.returnEvaluationTitleQuestion {
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  padding-left: 30px;
  background-color: #fbfbfb;
}
.returnEvaluationBtn {
  text-align: center;
  vertical-align: middle;
  margin-left: 50px;
}
.satisfactionBtn,
.noNatisfactionBtn {
  background-color: #f6f5f5;
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  color: #706e6e;
}
.satisfactionBtn {
  border-color: #ecd8da;
  background-color: #fceced;
  color: #ff7400;
  margin-right: 30px;
}
.satisfactionBtnChange {
  cursor: not-allowed;
}
.noNatisfactionBtnChange {
  cursor: not-allowed;
}
.returnProductMessage {
  border: 1px solid #e6e6e6;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  float: left;
  border-bottom: none;
  margin-bottom: 20px;
}
.returnProductMessage .col-xs-2 {
  text-align: center;
  border-right: 1px solid #e6e6e6;
}
.returnProductMessage .col-xs-2,
.returnProductMessage .col-xs-10 {
  border-bottom: 1px solid #e6e6e6;
  height: 45px;
  line-height: 45px;
}
.returnProductMessage .orderremark {
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
}
.returnProductMessage .orderremark label {
  line-height: 90px;
  height: 90px;
  border-bottom: none;
  font-weight: normal;
}
.returnProductMessage .orderremark .col-xs-3 {
  line-height: 90px;
  height: 90px;
  border: none;
}
.m-t-10 {
  display: inline-block;
  margin-top: 10px;
}
.redcolor {
  color: red;
}
.expressinfo {
  cursor: pointer;
}
.expressinfo:hover .expressinfoDetail {
  display: block;
  -webkit-transition: 1s;
}
.expressinfo .expressinfoDetail {
  cursor: pointer;
  z-index: 10;
  left: 360px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  display: none;
  background-color: #fff;
  -webkit-transition: 1s;
}
.expressinfo .expressinfoDetail li {
  height: 28px;
}
.expressinfo .expressinfoDetail span {
  color: #ef524d;
}
.stepflex .s-smalltext {
  color: #a29e9e;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}
.stepflex .begin {
  text-align: left;
}
.stepflex .end {
  text-align: right;
}
