.sendCouponBackground{
	position: relative;
	background:url(../images/pc/background.jpg) repeat-x left top;
	min-height: 250px;
	width: 100%;
}
.CouponInfo{
	position: absolute;
	width: 300px;
	background: #FFFFFF;
	border: 1px solid #ccc;
	height: 100px;
	left: 42%;
	top: 20%;
}
.CouponInfo h3{
	font: 14px/1.5 tahoma,arial,"\5b8b\4f53";
}
.CouponInfo button{
	border: 1px solid #710000;
	color:#fff;
	background:-webkit-gradient(linear,left top, left bottom, color-stop(0, #ae0606), color-stop(1, #8f2c00));
	width: 92;
	height: 40;
	text-align:center;
	font-weight:bold;
}
.successSend{
	position: absolute;
	width: 300px;
	background: #34E8EA;
	border: 1px solid #ccc;
	height: 100px;
	left: 42%;
	top: 20%;
}
