.update_password_main {
  padding-top: 20px;
}
.update_password_main .mt {
  padding: 10px 0;
  display: block;
}
.update_password_main .mt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.update_password_main .mc {
  line-height: 20px;
  float: left;
  width: 100%;
}
/*表格内容*/
.update_password_form {
  margin-left: 150px;
}
.update_password_form .item {
  display: inline-block;
  display: block;
  margin-bottom: 20px;
  line-height: 30px;
}
.update_password_form .item span.labelTag {
  width: 130px;
}
.update_password_form .item span.labelTag {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 6px 0;
  text-align: right;
  color: #484848;
}
.fl {
  float: left;
}
.update_password_form .itxt,
.update_password_form .text {
  height: 30px;
  width: 157px;
  padding: 5px 23px 5px 5px;
  border: 1px solid #e6e6e6;
}
.clear,
.clr {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.update_password_form .item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn-10 {
  background-color: #f6f4f5;
  color: #414141;
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
  border: 1px solid #e6e6e6;
  padding: 0 10px;
}
.update_password_btn_step1,
.val_phone_Btn_step2,
.val_mail_btn_step1,
.val_phone_Btn_step1,
.send_mail_btn_step2,
.update_password_btn_step2 {
  background-color: #fceced;
  color: #ef524d;
  text-align: center;
  width: 68px;
  height: 31px;
  line-height: 31px;
  margin-left: 130px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid #ebd9d9;
}
.update_password_form em {
  color: #e4393c;
}
.ftx-un {
  font-size: 16px;
  line-height: 25px;
  margin-right: 10px;
  font-weight: normal;
  color: #6e6e6e;
}
.safe-icon-box {
  position: relative;
  margin: 10px 0 30px 300px;
}
.safe-icon-box .icon-succ02 {
  background-position: 0 0;
}
.safe-icon-box .m-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background: url(../images/pc/icon-msg2015.png) no-repeat -50px 0;
}
s,
strike,
del {
  text-decoration: line-through;
}
.safe-icon-box .fore {
  margin-left: 58px;
  line-height: 25px;
}
.safe-icon-box .fore h3 {
  font-size: 18px;
}
.ftx-02,
.ftx02 {
  color: #ef524d;
}
.u-safe .safe-rank04 {
  background-position: 0 -45px;
}
.u-safe .safe-rank01,
.u-safe .safe-rank02,
.u-safe .safe-rank03,
.u-safe .safe-rank04,
.u-safe .safe-rank05,
.u-safe .safe-rank06 {
  /*background: url(http://misc.360buyimg.com/user/myjd-2015/css/i/safe-rank2014.png) no-repeat 0 0;*/
  display: inline-block;
  font-size: 0;
  height: 14px;
  line-height: 0;
  margin-right: 10px;
  overflow: hidden;
  vertical-align: middle;
  width: 68px;
}
.u-safe .rank-text {
  font-weight: 400;
  margin-right: 5px;
}
.ftx-04,
.ftx04 {
  color: #ff6c00;
}
.ftx-03,
.ftx03 {
  color: #999;
}
.ftx-05,
.ftx05 {
  color: #005ea7;
}
/*#update_pwd_step1 {
    background-color: #fff;
}
#update_pwd_step2 {
    background-color: #fff;
}
#update_pwd_step3 {
    background-color: #fff;
}
#val_phone_step1 {
    background-color: #fff;
}
#val_phone_step2 {
    background-color: #fff;
}
#val_phone_step3 {
    background-color: #fff;
}
#val_mail_step1 {
    background-color: #fff;
}
#val_mail_step2 {
    background-color: #fff;
}
#val_mail_step3 {
    background-color: #fff;
}*/
#valCode {
  margin-left: 20px;
  background-color: green;
  height: 28px;
  width: 60px;
  float: left;
  font-size: 16px;
  color: red;
  text-align: center;
}
#valCode1 {
  height: 28px;
  width: 80px;
  float: left;
  font-size: 16px;
  text-align: center;
}
#valMobileValCode1 {
  height: 28px;
  width: 80px;
  float: left;
  font-size: 16px;
  text-align: center;
}
#valMobileValCode2 {
  height: 28px;
  width: 80px;
  float: left;
  font-size: 16px;
  color: red;
  text-align: center;
}
#mailCode0 {
  height: 28px;
  width: 80px;
  float: left;
  font-size: 16px;
  color: red;
  text-align: center;
}
#mailCode1 {
  height: 28px;
  width: 80px;
  float: left;
  font-size: 16px;
  color: red;
  text-align: center;
}
.error-messages {
  padding: 2px 15px 3px 15px;
  margin: 0 2px 1em 2px;
  color: #f00;
}
.send_mail_btn_step2 {
  background-color: #fceced;
  color: #ef524d;
  text-align: center;
  width: 54px;
  height: 28px;
  margin-left: 130px;
  cursor: pointer;
  border: 1px solid #ebd9d9;
}
/*# sourceMappingURL=update_password_L.css.map */
