.sendCoupon {
  background: #f4ce73 url(../images/rebate.png) no-repeat left top;
  background-size: 55% 87px;
  height: 86px;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: #fff;
  text-align: center;
}
.coupon-bt {
  background: url(../images/rebate-bt.png) repeat-x left top;
  background-size: 10px 2px;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.MainPhoto {
  margin-bottom: 5px;
}
