.help-center-bar {
  font-family: "microsoft yahei";
  margin: 0px auto;
  overflow: hidden;
  padding: 20px 0;
  /**帮助中心*/
}
.help-center-bar .contact {
  float: left;
  text-align: center;
}
.help-center-bar .contact ul li {
  list-style: none;
  padding: 3px 0px;
}
.help-center-bar .contact ul li h6 {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.help-center-bar .contact ul li span {
  font-style: normal;
  color: #666666;
  font-size: 12px;
  display: block;
}
.help-center-bar .help-center-content {
  float: left;
  overflow: hidden;
}
.help-center-bar .help-center-content ul {
  padding: 0px;
  list-style: none;
  float: left;
  width: 100%;
}
.help-center-bar .help-center-content ul li {
  float: left;
}
.help-center-bar .help-center-content ul li h3 {
  height: 30px;
  line-height: 30px;
  padding-left: 22px;
  font-size: 12px;
  overflow: hidden;
  font-weight: bold;
}
.help-center-bar .help-center-content ul .guide-item-list h3 {
  font-size: 16px;
}
.help-center-bar .help-center-content ul .guide-item-list h3 a {
  color: #666;
}
.help-center-bar .help-center-content ul .guide-item-list li {
  padding-left: 22px;
  height: 22px;
  line-height: 22px;
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
}
.help-center-bar .help-center-content ul .guide-item-list li a {
  color: #bdbbbb;
}
.help-center-bar .help-center-content .col-20 {
  width: 20%;
}
.help-center-bar .help-center-content .col-25 {
  width: 25%;
}
.help-center-bar .help-center-content .col-33 {
  width: 33%;
}
