[data-type="Search_detail"] > .search-detail {
  border: 1px solid #f0efef;
  background-color: transparent;
  padding: 0;
  margin: 10px 0 0 0;
  font-family: "microsoft yahei";
}
[data-type="Search_detail"] > .search-detail > div {
  border: none;
  border-bottom: 1px solid #f0efef;
  padding: 0px;
  margin: 0;
  background: transparent;
  overflow: hidden;
  position: relative;
  line-height: 0;
  background: #fafafa;
}
[data-type="Search_detail"] > .search-detail > div:last-child {
  border-bottom: none;
}
.search-detail .classify > span,
.search-detail .brand > span {
  width: 140px;
  display: inline-block;
  text-align: left;
  text-indent: 20px;
  vertical-align: middle;
  height: 100%;
  min-height: 30px;
  line-height: 30px;
  color: #747171;
  font-size: 12px;
  font-weight: normal;
}
.search-detail .classify > ul,
.search-detail .brand > ul {
  float: right;
  width: 87%;
  line-height: 30px;
  background-color: #fff;
  border-left: 1px solid #f0efef;
  margin-bottom: 0;
  position: relative;
  padding-right: 80px;
  box-sizing: border-box;
  max-height: 60px;
  overflow: hidden;
}
.search-detail .brand > ul a.more {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #999;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  background: url(../images/search.png) no-repeat right 9px;
  padding-right: 15px;
  overflow: hidden;
}
.search-detail .brand > ul a.more:hover {
  background-position: right -8px;
}
.search-detail .brand > ul a.more.up {
  background-position: right -26px;
}
.search-detail .brand > ul a.more.up:hover {
  background-position: right -43px;
}
.search-detail .classify > ul li,
.search-detail .brand > ul li {
  margin-left: 30px;
  float: left;
}
.search-detail .classify > ul a,
.search-detail .brand > ul a {
  color: #494848;
  font-size: 12px;
}
.search-detail .classify > ul a:hover,
.search-detail .brand > ul a:hover {
  color: #ff7400;
}
